<!DOCTYPE html>
<html lang="en">
    <%- include ("./include/head") %>
    <body>
        <%- include ("./include/nav") %>
        <div class="container">
            <div class="title">
                <h4>Example page</h4>
            </div>       
            <p> This is example page </p>
        </div>       
        <%- include ("./include/footer") %>
        <%- include ("./include/scripts") %>
    </body>
</html>